.container {}

.header {}

.addButton {}

.statsGrid {}

.statCard {}

.statIcon {}

.statInfo {}

.statValue {}

.statLabel {}

.blue {}

.green {}

.purple {}

.red {}

.tabs {}

.tab {}

.active {}

.tabContent {}

.workflowsList {}

.emptyState {}

.workflowCard {}

.error {}

.workflowHeader {}

.workflowIcon {}

.workflowInfo {}

.workflowActions {}

.actionBtn {}

.danger {}

.workflowMeta {}

.metaItem {}

.statusBadge {}

.workflowFooter {}

.triggerInfo {}

.toggleSwitch {}

.slider {}

.logsTable {}

.tableHeader {}

.logRow {}

.logName {}

.logStatus {}

.logDate {}

.logDuration {}

.spinning {}

.templatesGrid {}

.templateCard {}

.templateIcon {}

.useTemplateBtn {}

.modalOverlay {}

.modal {}

.modalHeader {}

.modalBody {}

.formGroup {}

.triggerOptions {}

.triggerOption {}

.selected {}

.actionsList {}

.actionItem {}

.actionNumber {}

.removeActionBtn {}

.addActionBtn {}

.modalFooter {}

.btnSecondary {}

.btnPrimary {}