[phases.setup]
nixPkgs = ["nodejs-20_x", "pnpm"]

[phases.install]
cmds = [
  "pnpm install --frozen-lockfile",
  "pnpm --filter @susmi/api prisma generate"
]

[phases.build]
cmds = ["pnpm --filter @susmi/api build"]

[start]
cmd = "cd apps/api && pnpm prisma migrate deploy && node dist/main"
